---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="/assets/about-illustration.webp" alt="Illustration of a notebook" width="330">
      <figcaption>
        Illustration by <a href="https://icons8.com/illustrations/author/zD2oqC8lLBBA">Icons 8</a> from <a href="https://icons8.com/illustrations">Ouch!</a>
      </figcaption>
    </figure>
      <p>Hello you.</p>

      <p> I'm Diego Avendaño from México. I'm a front-end developer who has fallen in love with svelte and I'm studying to become a full-stack developer soon.
      <br> <br>

      I'm making  this blog so we can learn together this awesome path of coding. Because I'm not an expert yet and I think you never stop learning actually, or at least you shouldn't.
      <br> <br>
      
      And if this can be helpful to somebody, that would be just amazing for me.</p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
