<div>
  <img src="/assets/diego.jpg" alt="Headshot of Diego Avendaño">
  <p>
    Hi, I'm <strong>Diego Avendaño</strong>. I'm a front-end developer based in Acapulco.
    You can follow me on ... coming soon...
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
